* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.album-container {
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    width: calc(100% / 3 - 20px);
    padding: 10px;
}

.card-album {
    background-color: beige;
    text-align: center;
    height: 100%;
    padding: 10px;
}

.card-album img {
    width: 90%;
}